
body {
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Poiret One', cursive;
    font-size: 15px;
}

nav{
    background-color: rgba(0,0,0,0.7);
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
}

.leftlogo {
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 0 20px;
    margin-left: 50px;
}

.right {
    margin-right: 50px;
    display: flex;
    height: 50px;
    float: right;
    align-items: center;
}

.right a {
    color: white;
    padding: 20px;
    align-items: center;
    text-decoration: none;
}

.gridhero {
    height: 550px;
    display: grid;
    padding: 20px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
        "circleme briefme";
    background-image: url("../images/hypnotize.png");
}

.circleme img {
    height: 385px;
    border: #f0f0f0F5 solid 1px;
    border-radius: 50%;
    overflow: hidden;
    grid-area: circleme;
    justify-content: center;
    align-items: center;
    margin-left: 175px;
}

.briefme {
    grid-area: briefme;
    justify-content: center;
    margin-right: 175px;
}

.button {
    padding: 15px 25px;
    height: 20px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: #EBE2D7 solid 2px;
    border-radius: 5px;
    background-color: #EBE2D7;
    cursor: pointer;
}

.tools {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tools img {
    width: 150px;
}

.toolsimg img {
    height: 100px;
    width: 100px;
    padding: 20px;
}

.toolsimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.acts {
    background-color: #EBE2D7;
    height: 575px;
}

.acts p {
    font-weight: bold;
}

.interests {
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interests img {
    width: 150px;
}

.interestsimg img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    padding: 20px;
}

.interestsimg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.beachnew {
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.analyze {
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.create {
    flex-direction: column;
    align-content: center;
    justify-content: center;    
}

.travel {
    flex-direction: column;
    align-content: center;
    justify-content: center;
 }

 .footer {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
 }

 .social {
     padding-top: 15px;
     padding-bottom: 15px;
     flex-direction: column;
     color: white;
 }

 .social img {
     height: 30px;
     width: 30px;
 }


